{% extends 'base.html' %}
{% block 'nav' %}
    <nav id="mainNavbar" class="navbar navbar-vertical navbar-expand-lg scrollbar bg-dark navbar-dark">
                            
        <!-- Theme configuration (navbar) -->
            <script>
                let navigationColor = localStorage.getItem('navigationColor'),
                    navbar = document.getElementById('mainNavbar');
            
                if(navigationColor != null && navbar != null) {
                    if(navigationColor == 'inverted') {
                        navbar.classList.add('bg-dark', 'navbar-dark');
                        navbar.classList.remove('bg-white', 'navbar-light');
                    } else {
                        navbar.classList.add('bg-white', 'navbar-light');
                        navbar.classList.remove('bg-dark', 'navbar-dark');
                    }
                }
            </script>    
         <div class="container-fluid">
        
            <!-- Brand -->
            <a class="navbar-brand" href="#">
               <center> {% load static %}<img src="{% static 'images/vishal.png' %}"/> </center>
                <h4 style="color: white;">FILE MANAGEMENT SYSTEM</h4>
            </a>
    
            <!-- Navbar toggler -->
            <a href="javascript: void(0);" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </a>
    
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenavCollapse">
    
                <!-- Navigation -->
                <ul class="navbar-nav mb-lg-7">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:dashboard' %}" class="nav-link">
                            <span>Dashboards</span>
                        </a>
                    </li>
                    {% for department in departments %}
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#pagesCollapse{{ department.department.name }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="pagesCollapse">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="nav-link-icon" height="18" width="18"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><title>common-file-double-1</title><path class="a" d="M17.25,23.25H3.75a1.5,1.5,0,0,1-1.5-1.5V5.25"/><rect class="a" x="5.25" y="0.75" width="16.5" height="19.5" rx="1" ry="1"/></svg>
                                <span>{{ department.department.name }}</span>
                            </a>
                            <div class="collapse " id="pagesCollapse{{ department.department.name }}">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'main:orgdashboard' department.department.id %}" class="nav-link ">
                                        Dashboard
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'main:upload' department.department.id %}" class="nav-link ">
                                        Upload
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'main:view' department.department.id %}" class="nav-link ">
                                        View
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                    
                    {% endfor %}
                    {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'main:usersettings' %}">
                            <svg viewBox="0 0 24 24" class="nav-link-icon" height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M11.25,18.75a1.5,1.5,0,0,1-1.5-1.5V9.75a1.5,1.5,0,0,1,1.5-1.5h10.5a1.5,1.5,0,0,1,1.5,1.5v7.5a1.5,1.5,0,0,1-1.5,1.5h-1.5v4.5l-4.5-4.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path d="M6.75,12.75l-3,3v-4.5H2.25a1.5,1.5,0,0,1-1.5-1.5V2.25A1.5,1.5,0,0,1,2.25.75h10.5a1.5,1.5,0,0,1,1.5,1.5v3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/></svg>
                            <span>User Settings</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'main:settings' %}">
                            <svg viewBox="0 0 24 24" class="nav-link-icon" height="18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M11.25,18.75a1.5,1.5,0,0,1-1.5-1.5V9.75a1.5,1.5,0,0,1,1.5-1.5h10.5a1.5,1.5,0,0,1,1.5,1.5v7.5a1.5,1.5,0,0,1-1.5,1.5h-1.5v4.5l-4.5-4.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path d="M6.75,12.75l-3,3v-4.5H2.25a1.5,1.5,0,0,1-1.5-1.5V2.25A1.5,1.5,0,0,1,2.25.75h10.5a1.5,1.5,0,0,1,1.5,1.5v3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/></svg>
                            <span>Settings</span>
                        </a>
                    </li>
                    {% endif %}
                   
                </ul>
                <!-- End of Navigation -->
           
            </div>
            <!-- End of Collapse -->
        </div>
    </nav>
    <br/>

{% endblock %}
{% block 'content' %}
    <div class="container" style="width: 60%; ">
        <form class="form-control sm" method="POST" action="{% url 'main:usercreation' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Add User</h4>
            <div class="mb-0">
                <label class="form-label" for="inputusername">User Name </label>
                <input type="text" class="form-control" id="inputusername" placeholder="Username" name="username" required>
            </div>
            <br/>
            <div class="mb-0">
                <label class="form-label" for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
            </div>
            <br/>
            <div class="mb-0">
                <label class="form-label" for="inputEmail">Contact Number</label>
                <input type="number" class="form-control" id="inputEmail" placeholder="Mobile Number" name="contactnumber">
            </div>
            <br/>
            <div class="mb-0">
                <label class="form-label" for="inputuserorle">Role</label>
                <select class="form-select" aria-label="Default select example" name="role" required> 
                    <option value="user">User</option>
                    <option value="admin">Admin</option> 
                </select>
            
            </div>
            <br/>
            <br/>
            <div class="mb-0">
                <label class="form-label" for="inputpassword">Password</label>
                <input type="password" class="form-control" id="inputpassword" placeholder="Password"  name="password1" required>
            </div>
            <br/>
            <div class="mb-0">
                <label class="form-label" for="inputconfirmpassword">Confirm Password</label>
                <input type="password" class="form-control" id="inputconfirmpassword" placeholder="Email" name="password2" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

  <br/>

    <div class="container" style="width: 60%; ">
        <form class="form-control sm" method="POST" action="{% url 'main:userdepartmentmapping' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <h4>MAP User to Department</h4>
            <div class="mb-0">
                <label class="form-label" for="inputuserorle">Users</label>
                <select class="form-select" aria-label="Default select example" name="userselected" required> 
                    {% for i in user %}
                        <option value="{{  i.id }}">{{ i.username }}</option>
                    {% endfor %}
                </select>
            
            </div>
            <br/>

            <div class="mb-0">
                <label class="form-label" for="inputuserorle">Select Department To Add</label>
                <select class="form-select" aria-label="Default select example" name="departmentselected" required> 
                    {% for i in departments %}
                        <option value="{{ i.department.id }}">{{ i.department.name }}</option>
                    {% endfor %}
                </select>
            
            </div>
            <br/>
            
            <button type="submit" class="btn btn-primary">MAP</button>
        </form>
    </div>
    <br/>
    <div class="container" style="width: 60%; ">
        <form class="form-control sm" method="POST" action="{% url 'main:changepass' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Change Pass</h4>
            <div class="mb-0">
                <label class="form-label" for="inputuExisitngpass">Existing Password</label>
                <input type="password" class="form-control" id="inputuExisitngpass" placeholder="Exisitng Password" name="exisitngpass"  required>
            </div>
            <br/>
           
            <div class="mb-0">
                <label class="form-label" for="inputpassword">Password</label>
                <input type="password" class="form-control" id="inputpassword" placeholder="New Password"  name="password1" required>
            </div>
            <br/>
            <div class="mb-0">
                <label class="form-label" for="inputconfirmpassword">Confirm Password</label>
                <input type="password" class="form-control" id="inputconfirmpassword" placeholder="Confirm New Password" name="password2" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

    <br/>
    <div class="container" style="width: 60%; ">
        <form class="form-control sm" method="POST" action="{% url 'main:deleteuser' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Delete User</h4>
            <div class="mb-0">
                <label class="form-label" for="inputuserorle">Users</label>
                <select class="form-select" aria-label="Default select example" name="userselected" required> 
                    {% for i in user %}
                        <option value="{{  i.id }}">{{ i.username }}</option>
                    {% endfor %}
                </select>
            
            </div>
            <br/>
        
            <br/>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>

{% endblock %}